@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;700&display=swap');

body{
    background: linear-gradient(90deg, orange, rgb(255, 99, 71));
    font-family: 'Source Code Pro', "monospace";
}
.wrapper{
    width:75%;
    margin: auto;
    text-align: center;
}
.area{
    margin: 0px 50px;
    text-align: center;
    display: inline-block
}
p{
     font-size: 30px;
     
 }
 img{
     width: 100px;
 }

