@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;700&display=swap');

body{
    margin:0;
    background: linear-gradient(90deg, orange, rgb(255, 99, 71));
    font-family: 'Source Code Pro', "monospace";
    font-size: 30px;
    height: 50px;
}

.container{
    width:200px; 
    margin-left: 35%;
    margin-top: 12%;  
    border: 3px solid white;
    padding-top: 4%;
    padding-bottom: 12%;
    padding-left: 11%;
    padding-right: 8%;
}

.roll{
    margin-left: 50%;   
}
.number{
    margin-left: 30%;
    margin-top: 20%;
}